/*
23.25 * x = 90
x = 3.8709677419
*/

.kalendae .k-calendar {
	width: 90vw;
}

.kalendae .k-header {
	width: 90vw;
}

.kalendae .k-header span {
	width: 11.61vw;
}

.kalendae .k-title {
	width: 90vw;
	height: 5vh;
}

.kalendae .k-title a {
	width: 11.61vw;
	height: 4em;
	font-size: 4em;
}

.kalendae .k-days {
	width: 89.42vw;
}

.kalendae .k-days span {
	width: 11.61vw;
	height: 10vh;
	font-size: 5vh;
}

.kalendae .k-today {
	font-family: Serif;
	text-decoration: overline;
	font-weight: bold;
}

textarea, input {
	width: 73.55vw;
}

div.container {
	margin-left: 3vw;
	margin-right: 3vw;
}